html, body {
    background-color: #1b1b1b;
    font-family: Monaco, monospace;
    margin: 0;
}
h1, h2, h3, h4, h5{
    color: #e4e4e4;
    margin: none;
    padding:none;
}
p, small, div {
	color: #ffffff;  
}
a {
    color: aqua;
}